$myColor: red;
$textColor: #fff;
body {
  position: relative;
}
.sectionStyle {
  padding-top: 10vmin;
}
p::selection {
  background-color: $myColor;
  color: $textColor;
}
h1 {
  $myColor: green !global;
  color: $myColor;
}
nav {
  ul {
    a {
      font-size: 1.5rem;
      color: #fff;
    }
  }
}
th,
td {
  border: 1px solid;
  padding: 15px;
}
